{% extends "layout.html" %}
{% block heading %} 
    <meta content='2'; url=http://127.0.0.1:5000/usrScreen' http-equiv='refresh'>
{% endblock %}

{% block body %}
    
    {% if  heartBeats >= 100 %}
        <div>Pachelbel: Canon in D</div>
        <img src="{{url_for('static', filename='meadow.jpg')}}" width="1200" height="600">
    {% elif (heartBeats < 100) and (heartBeats >= 80) %}
        <div>Rex Orange County: Loving is Easy  </div>
        <img src="{{url_for('static', filename='maldives.jpg')}}" width="1200" height="600">
    {% elif (heartBeats < 80) and (heartBeats >= 60) %}
        <div> Torn - Natalie Imbruglia </div>
        <img src="{{url_for('static', filename='ship.jpg')}}" width="1200" height="600">
    {% else %}
        <div>Beethoven - Moonlight Sonata</div>
        <img src="{{url_for('static', filename='pedestrians.jpg')}}" width="1200" height="600">

    {% endif %}
   

{% endblock %}